section>ul>li
{
    margin-right: 890px;
	margin-left: 10px;
	margin-top: 20px;
	list-style: none;
	padding: 10px 10px 10px 10px;
	font-family: tahoma;
	font-size: 16px;
	color: blue;
	background-color: white;
	border-radius: 7px;
}

section>ul>li:hover
{
	background-color: green;
	cursor: none;
}

#section1
{
	width: 710px;
	height: 620px;
	position: relative;
	margin-left: 350px;
	margin-top: -235px;
	border-radius: 7px;
	background-color: white;
	padding: 30px 30px 10px 30px;
}

#section2
{
	width: 960px;
	height: 620px;
	position: relative;
	margin-left: 110px;
	margin-top: 70px;
	border-radius: 7px;
	background-color: white;
	padding: 30px 30px 10px 30px;
}

#section3
{
	width: 710px;
	height: 420px;
	position: relative;
	margin-left: 350px;
	margin-top: -235px;
	border-radius: 7px;
	background-color: white;
	padding: 30px 30px 10px 30px;
}

#section4
{
	width: 710px;
	height: 620px;
	position: relative;
	margin-left: 350px;
	margin-top: 70px;
	border-radius: 7px;
	background-color: white;
	padding: 30px 30px 10px 30px;
}