<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>qcm</servlet-name>
        <servlet-class>servlets.qcm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientView</servlet-name>
        <servlet-class>servlets.ClientView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleView</servlet-name>
        <servlet-class>servlets.ArticleView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdView</servlet-name>
        <servlet-class>servlets.CmdView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlets.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produit</servlet-name>
        <servlet-class>servlets.produit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>qcm</servlet-name>
        <url-pattern>/qcm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientView</servlet-name>
        <url-pattern>/ClientView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleView</servlet-name>
        <url-pattern>/ArticleView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdView</servlet-name>
        <url-pattern>/CmdView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produit</servlet-name>
        <url-pattern>/produit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
